// main: ../main.scss
//
#navigation-container {
   height: 55px;
   padding-top: 1px;
   ul {
       text-align: left;
       margin: 5px 20px;
        padding: 0;
       li {
           padding-right: 5px;
           display: inline-block;
           font-size: 40px;
           a {
               text-decoration: none;
               color: #000;
               text-shadow: none;
           }
           a:hover {
               text-shadow: 2px 2px 4px #fff;
           }
       }
   }
}

.footer-navigation {
    #navigation-container {
        ul {
            margin: 20px 20px;
        }
    }
}

 .pagination_navigation {
     height: 40px;
     width: 960px ;
     margin: 0 auto;
     text-align: center;
     p {
         display: inline-block;
     }
     a {
         display: inline-block;
     }
 }
